<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1" />

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Popper JS -->
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<title>MM Font Converter</title>
</head>
<script>

</script>
<div th:include="common/header :: header-operator"></div>
<body>

	<div class="container">
		<h2>Datasource Config</h2>
		<br>
		<div class="container">
			<form action="#" th:action="@{/saveConfig}" th:object="${configDto}" method="post">
				<div class="form-group">
					<p>
						Database Name: <input type="text" th:field="*{databaseName}" />
					</p>
					<br>
					<input class="btn btn-info" name="submit" type="submit"
						value="Save" />
				</div>
			</form>
		</div>
	</div>
</body>
</html>